$primary-color: #007bff;
$text-color: #333;
$grid-gap: 20px; 
$standard-padding: 20px;
$color: #007bff;
$text-color-light: white; 
$footer-height: 90px; 
$shadow-color: rgba(0, 0, 0, 0.1); 
$border-color: gray;