@use 'variables';
@use 'mixins';

.nav {
  background-color: #f5f5f3; 
  overflow: hidden; 
 .nav_container {
        max-width: auto;
        margin : auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

      .nav-link h2
      {
        color: greenyellow;
        margin: 0;
      }

      .nav-logo
      {
        gap: 20px;

        a {
            color: black;
            font-weight: bold;
        }
    }
      }
  
}
header{
    background-color: rgb(202, 108, 108);
    height: 200px;
    display: flex;
      justify-content: center;
      align-content: center;
    
    .search-box
    {
      
    }
}

footer{
    position: fixed;
    left: 0;
    height:100%;
    // bottom: 0px;
    width: 100%;
    background-color: rgb(226, 204, 204);
    color: white;
    text-align: center;
    // height : variables.$footer-height;
}
